body{
  background-color: #303030;
  padding-top: 50px;
}

#calculator{
  background-color: #8A2E60;
  width: 280px;
  border: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: #630E3C;
  margin: auto;
  text-align: center;
  padding: 5px 25px 10px 15px;
}

.buttons {
    background-color: #B05C8A;
    border-width: thin;
    border-color: #630E3C;
    color: black;
    padding: 5px;
    height: 50px;
    width: 55px;
    text-align: center;
    font-size: 20px;
    margin: 2px 0px 2px 0px;
    border-radius: 5px;
}

#result{
    height: 50px;
    padding-top: 15px;
    padding-right: 10px;
    margin: 10px -15px 5px 0px;
    text-align: right;
    border-width: thin;
    border-radius: 5px;
    border-color: #B05C8A;
    border-style: solid;
    background-color: #D498B9;
    font-size: 20px;
}

#calcTitle{
  font-family: 'Damion', cursive;
  padding-top: 10px;
  font-size: 20px;
  color: white;
}

#heart{
  font-size: 30px;
  padding-left: 13px;
  padding-top: 7px;
  color: #D498B9;
}

footer {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  color: white;
}
